@import url(https://fonts.googleapis.com/css?family=Roboto:300);

a:link {
   color: #f44336;
}

/* link que foi visitado */
a:visited {
    color: #f44336;
}

/* mouse over */
a:hover {
    color: #f44336;
}

/* link selecionado */
a:active {
    color: #f44336;
}

.mensagem{
	text-align: center;
	text-decoration: none;
}

